.carousel-item img {
    max-height: 650px;
    object-fit: cover;
  }

  .container h2 {
    text-align: center;
    margin: 40px 0;
    font-weight: bold;
  }
  
  .container p {
    text-align: justify;
  }
  
  .footer {
    background-color: #f8f9fa;
    padding: 20px 0;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer .text-center {
    background-color: #343a40;
    height: 100px;
    color: #fff;
    padding: 10px 0;
  }
  